*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*error-page*/
.error-body{
    background-color: dimgray;
}

.error-wrapper{
    width: 400px;
    height: 450px;
    top: 50%;
    left: 50%;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
}

.error-wrapper h2{
    font-size: 20px;
    color: red;
    text-transform: uppercase;
    text-align: center;
}

/*index-page*/
.index-body{
    background-color: dimgray;
}

.login-header{
    width: 100%;
    height: 50px;
    background-color: darkslategray;
}

.login-header .russian button{
    top: 10px;
    right: 0;
}

.login-header .france button{
    top: 10px;
    right: 35px;
}

.login-header .english button{
    top: 10px;
    right: 70px;
}

.login-form{
    width: 400px;
    height: 450px;
    top: 50%;
    left: 50%;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fff;
    border-radius: 25px;
    background-color: grey;
}

.login-form h1{
    margin: 40px 0;
    font-size: 40px;
    color: darkseagreen;
    text-align: center;
    text-transform: uppercase;
}

.login-form h2{
    text-align: center;
    font-size: 18px;
    color: red;
}

.login-form input{
    padding: 15px 10px;
    width: 100%;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 20px;
}

.login-form button{
    font-size: 20px;
    font-weight: bold;
    margin: 80px 0;
    padding: 10px 15px;
    width: 50%;
    border: none;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    background-color: darkslategray;
}

.login-form button:hover{
    background-color: darkseagreen;
}

/*header*/
.header-wrapper{
    width: 100%;
    height: 50px;
    display: block;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: dimgray;
}

.header-wrapper h1{
    padding-left: 20px;
    padding-block-start: 10px;
    font-size: 30px;
    font-weight: bold;
    color: darkseagreen;
}

.russian button{
    top: 20%;
    right: 135px;
    width: 30px;
    height: 25px;
    border: 20px;
    border-radius: 10px;
    position: absolute;
    background: url("https://www.countryflags.io/ru/flat/32.png") center;
}

.russian button:hover{
    background-color: darkseagreen;
}

.france button{
    top: 20%;
    right: 170px;
    width: 30px;
    height: 25px;
    border: 20px;
    border-radius: 10px;
    position: absolute;
    background: url("https://www.countryflags.io/fr/flat/32.png") center;
}

.france button:hover{
    background-color: darkseagreen;
}

.english button{
    top: 20%;
    right: 205px;
    width: 30px;
    height: 25px;
    border: 20px;
    border-radius: 10px;
    position: absolute;
    background: url("https://www.countryflags.io/gb/flat/32.png") center;
}

.english button:hover{
    background-color: darkseagreen;
}

.logout button{
    top: 15%;
    right: 0;
    width: 130px;
    height: 30px;
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    background-color: darkslategray;
}

.logout button:hover{
    background-color: darkseagreen;
}

/*menu*/
.menu-wrapper{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 2;
    top: 50px;
    left: 0;
    background-color: darkslategray;
}

.menu-wrapper a {
    padding: 50px 10px 10px 50px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    text-transform: uppercase;
    color: white;
}

.menu-wrapper a:hover{
    color: darkseagreen;
}

/*musicSlider*/
.main-body{
    background-color: black;
}

.col{
    padding-top: 60px;
    padding-left: 200px;
}

.card{
    width: 500px;
    height: 600px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 10px 10px 10px 80px;
    border: darkslategray 5px solid;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    align-items: center;
    text-align: center;
}

.card img{
    width: 500px;
    height: 600px;
    border-radius: 10px;
    display: block;
}

.description{
    position:absolute;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(255,255,255, 0.7);
    display:none;
    z-index: 1;
}

.description h2{
    padding-top: 200px;
    size: 22px;
    text-transform: uppercase;
    color: darkslategray;
}

.description button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.description button:hover{
    color: white;
    background-color: darkslategray;
}

.card:hover .description{
    display: block;
}

/*albums-page*/
.albums-body{
    background-color: black;
}

.albums-main{
    padding-top: 50px;
    padding-left: 200px;
}

.create-album{
    width: 100%;
    height: 200px;
    background-color: steelblue;
}

.create-album button{
    font-size: 20px;
    font-weight: bold;
    margin: 80px 0;
    padding: 10px 15px;
    width: 200px;
    border: none;
    border-radius: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    background-color: darkslategray;
}

.create-album button:hover{
    background-color: darkseagreen;
}

.choice-wrapper{
    padding-top: 20px;
    width: calc(100% - 200px);
}

.choice-wrapper table{
    padding-left: 200px;

}

.choice-wrapper thead{
    background-color: steelblue;
}

#thead-number{
    width: 50px;
    height: 50px;
    align-self: center;
}

#body-number{
    width: 50px;
    height: 50px;
    align-self: center;
}

.choice-wrapper th{
    width: 200px;
    align-self: center;
}

#table tbody tr:nth-child(odd){
    background: white;
}

#table tbody tr:nth-child(even){
    background: cornflowerblue;
}

/*playlists-page*/
.playlists-body{
    background-color: black;
}

/*search-page*/
.search-body{
    background-color: black;
    padding-top: 50px;
    padding-left: 200px;
}

.search-wrapper{
    padding-top: 20px;
    width: 100%;
    height: 60px;
    background-color: steelblue;
}

.search-main h2{
    text-align: center;
    size: 18px;
    color: steelblue;
}

.search-main form {
    width: 300px;
    margin: 0 auto;
}

.search-main input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    font-size: 14px;
    color: black;
}

#search button {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    width: 50px;
    height: 42px;
    border: none;
    color: white;
    background-color: darkslategray;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#search button:hover{
    background-color: darkseagreen;
}

.purchase-wrapper{
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: white;
}

.purchase-image{
    padding-top: 20px;
    padding-left: 20px;
    width: 200px;
    height: 200px;
    float: left;
}

.purchase-image img{
    width: 200px;
    height: 200px;
}

.purchase-text{
    padding-top: 20px;
    padding-left: 220px;
    width: 280px;
    height: 100px;
    text-align: center;
}

.purchase-text h2{
    font-size: 14px;
    transform: translate(0%, 80%)
}

.buy-button{
    padding-top: 10px;
    padding-left: 310px;
    width: 280px;
    height: 100px;
    align-items: center;
}

.buy-button button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}

#confirm button{
    width: 100px;
    height: 30px;

}

#cancel button{
    width: 70px;
    height: 30px;
}
